.DS_Store

# Node
**/node_modules/
**/.next/
**/out/
**/.turbo/
**/.pnp
**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/versions

# env / secrets
**/.env
**/.env.*
!**/.env.example

# secrets
/secrets/

# local sqlite
**/*.db
**/*.db-journal

# logs
**/*.log
